@font-face {
  font-family: 'eurostile';
  src: url(./fonts/Eurostile/Eurostile.ttf);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

::selection {
  background-color: #d0b7a5;
  color: #e4d6cb;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "eurostile";
  background: linear-gradient(to bottom, #e4d6cb, #deccbf);
  letter-spacing: 2px;
}

p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.08);
}

a {
  text-decoration: none;
  padding-left: 5%;
  color: #f2eae5;
  font-size: 1.3rem;
  font-weight: 300;
  transition: font-size 0.5s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.38);
  margin: 0;
}

.nav-container a:hover {
  font-size: 1.5rem;
}

.nav-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c3a28b;
  z-index: 99;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  opacity: 0.9;
}

.me {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 7% 5%;
}

.me .name {
  font-size: 80px;
}

.me p {
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  color: #c3a28b;
}

.me p:first-child {
  font-size: 40px;
  font-style: italic;
  background-color: #d0b7a5;
  color: #e4d6cb;
}

.me p:nth-child(3) {
  font-weight: 300;
  font-style: italic;
}

.aedan-img {
  user-select: none;
  width: auto;
  height: 18rem;
  position: relative;
  z-index: 2;
  mix-blend-mode: multiply;
  background-color: #fff;
  border-radius: 50%;
  border: 3px solid #bc987e;
  margin-bottom: 2%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: height 0.5s ease-in-out;
}

.aedan-img:hover {
  height: 23rem;
}

.information {
  display: flex;
  text-align: center;
  flex-direction: column;
  animation: fadeInUp 1s forwards;
}

.custom-line {
  background-color: #bc987e;
  height: 2px;
  width: 70%;
  margin-top: 2%;
  border: #bc987e;
}

#myLabel {
  padding-left: 5%;
  font-size: 30px;
  color: #f2eae5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.educational-background {
  padding: 2rem;
  animation: fadeInUp 3s forwards;
}

.slider-wrapper {
  position: relative;
  max-width: 58rem;
  margin: 0 auto;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}


.edu-years {
  display: flex;
  justify-content: center;
}

.edu-years div {
  width: 200px;
  height: 150px;
  margin: 1rem 1rem 0 0;
  padding: 0 1rem 0 1rem;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  transition: 0.5s ease-in-out;
}

.edu-years div a {
  font-size: 0.8em;
  color: #bc987e;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.edu-years div:hover {
  transform: scale(1.1);
}

.work-containers {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-containers div {
  margin: 1em 2em 0 0;
  background-color: #ebe0d8;
  width: 20em;
  height: 20em;
}

.work-containers img {
  width: 12em;
  height: auto;
  z-index: 500;
  mix-blend-mode: multiply;
}
